<!DOCTYPE html>
<html lang="kr">
<head>
  <meta charset="UTF-8">
  <title>search</title>
  <link rel="stylesheet" type="text/css" href="index.css">
</head>
<body>

<div id="wrap">
  <form id="searchForm"  onsubmit="return false">
    <div id="searchBar">
      <input type="text"  id="searchWord" title="검색어입력" >
      <button type="submit" id="searchSubmit">검색</button>
    </div>
  </form>
  <div id="searchList"></div>
  <button id="add">더보기</button>
</div>

<script type="text/template" id="searchListTemplate">
	<% for(var i=0; i<10; i++){ %>
  <p><a href="<%= list[i].link %>"><%= list[i].title.replace(/&lt;/g, '<').replace(/&gt;/g, '>')  %>
	<% } %>

</script>

<script src="app.js"></script>
<script src="tmpl.js"></script>
<script src="jsonp.js"></script>

</body>
</html>
